/* Цвет кнопок первичный #2196F3 */
/* Цвет заголовков #212121 */
/* Цвет текста в абзацах #757575  */
/* Цвет текста белый #ffffff */
/* цвет ссылок в футере rgba(255,255,255, .6) */

/* Оформление элементов с обзим дизайном */
:root {
  --primary-color: #2196f3;
  --headings-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --footer-links-color: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

/* Оформление логотипа */

.logo-first {
  color: var(--primary-color);
}

.logo-second {
  color: #000000;
}

.logo-third {
  color: #ffffff;
}

/* ОФормление навигации */
.nav .nav-links:hover,
.nav .nav-links:focus {
  color: var(--primary-color);
}

.nav-links {
  color: var(--headings-color);
}

.nav .nav-links.current {
  color: #2196f3;
}

/* Оформление ссылок в секции контактов */
.auth .auth-nav:hover,
.auth .auth-nav:focus {
  color: var(--primary-color);
}
.social-links {
  color: var(--headings-color);
}

/* Оформляем Hero */
.hero-title {
  color: #212121;
}

/* оформление секций */

.section-title {
  color: var(--headings-color);
}

.advantagies .title {
  color: var(--headings-color);
}

.team .title {
  color: var(--headings-color);
}
